<div class="col-md-12">

  <br>

  <div class="text-center">
    <% if @user.image.present? %>
       <%= image_tag(@user.image.thumb.url) %>
     <% end %>
  </div>

  <h1 class="text-center">
    <%= @user.username %>的個人主頁
  </h1>

  <br>

  <div class="col-md-12">
    <div class="col-md-6">
      <h3>
        基本資料
      </h3>

      <p>暱稱：<%= @user.nickname %></p>
      <p>期數：<%= @user.session %></p>
      <p>學校：<%= @user.school %></p>
      <p>科系：<%= @user.major %></p>
    </div>
    <div class="col-md-6">
      <h3>
        自我介紹
      </h3>
      <p><%= simple_format(@user.selfintro) %></p>
    </div>
  </div>

  <br>


  <h3 class="text-center">
    已完成的任務
  </h3>

  <% progress = 0 %>
  <%  @missions.each do |mission|  %>
    <% progress = progress + mission.category.points%>
  <% end %>
  <h4 class="text-center"> 目前進度：<%= number_with_precision(progress * 100.0/140.0, precision: 2) %>%</h4>

  <br>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> 標題 </th>
        <th> 類別 </th>
        <th> 完成日期 </th>
        <th> 瀏覽數 </th>
      </tr>
    </thead>

    <tbody>
      <% @user.missions.each do |mission| %>
        <tr>
          <td> # </td>
          <td> <%= link_to(mission.title, mission_path(mission)) %> </td>
          <td> <%= mission.category.name %></td>
          <td> <%= mission.finishdate %> </td>
          <td> <%= mission.impressionist_count(:filter=>:session_hash) %> </td>
          <td>
            <% if current_user && current_user == mission.user %>
              <%=  link_to("Edit" ,  edit_mission_path(mission),  class: "btn btn-sm btn-default" ) %>
              <%=  link_to("Delete" ,  mission_path(mission),     class: "btn btn-sm btn-default" ,
                          method: :delete ,  data: { confirm: "Are you sure?"  }  ) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>
