<div  class= "col-md-4 col-md-offset-4" >
    <h2>編輯任務</h2>

    <hr>
    <%= simple_form_for @mission do |f| %>
      <div class="form-group">
        <%= f.input :title, label: '標題', input_html: { class: "form-control"} %>
        <%= f.input :content, label: '任務簡述', input_html: { class: "form-control"} %>
        <%= f.input :reflection, label: '心得感想', input_html: { class: "form-control"} %>
        <% if @mission.photos.present? %>
          <% @mission.photos.each do |p| %>
            <%= image_tag p.image.url  ,class: "thumbnail" %><br/>
          <% end %>
        <% end %>
        <div class="group">
          <%= f.file_field :image, :multiple => true, name: "photos[image][]" %>
        </div>
        <%= f.input :category_id, as: :select, collection: @categories, label: "類別" %>
        <%= f.input :finishdate, label: '完成日期', as: :date, html5: true, required: true %>
      </div>
      <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
    <% end %>

</div>
