<div class="col-md-12">

  <h2 class="text-center"> 百日任務 </h2>

  <div class="group">
    <%= link_to("新增任務", new_mission_path, class: "btn btn-primary pull-right") %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> 標題 </th>
        <th> 類別 </th>
        <th> 留言數 </th>
        <th> 更新時間 </th>
      </tr>
    </thead>

    <tbody>
      <% @missions.each do |mission| %>
        <tr>
          <td> # </td>
          <td> <%= link_to(mission.title, mission_path(mission)) %> </td>
          <td> <%= mission.category.name %></td>
          <td> <%= mission.comments.count %> </td>
          <td> <%= mission.updated_at %> </td>
          <td>
            <% if current_user && current_user.is_admin %>
              <%=  link_to("Edit" ,  edit_mission_path(mission),  class: "btn btn-sm btn-default" ) %>
              <%=  link_to("Delete" ,  mission_path(mission),     class: "btn btn-sm btn-default" ,
                          method: :delete ,  data: { confirm: "Are you sure?"  }  ) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @missions %>
  </div>

</div>
