<div class="col-md-12">


  <% if @category_id.present? %>
  <!--各個任務-->
    <h2 class="text-center">
      百日任務：<%= @category.name %>
    </h2>
    <br>
    <h4 class="text-center">
      <%= @category.intro %>
    </h4>

    <div class="group">
      <%= link_to("新增任務", new_mission_path, class: "btn btn-primary pull-right") %>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th> # </th>
          <th> 標題 </th>
          <th> 完成者 </th>
          <th> 類別 </th>
          <th> 完成日期 </th>
          <th> 瀏覽數 </th>
        </tr>
      </thead>

      <tbody>
        <% @missions.each do |mission| %>
          <tr>
            <td> # </td>
            <td> <%= link_to(mission.title, mission_path(mission)) %> </td>
            <td> <% user = mission.user %> <%= link_to(mission.user.username, account_user_path(user)) %></td>
            <td> <%= mission.category.name %></td>
            <td> <%= mission.finishdate %> </td>
            <td> <%= mission.impressionist_count(:filter=>:session_hash) %> </td>
            <td>
              <% if current_user && current_user.is_admin %>
                <%=  link_to("Edit" ,  edit_mission_path(mission),  class: "btn btn-sm btn-default" ) %>
                <%=  link_to("Delete" ,  mission_path(mission),     class: "btn btn-sm btn-default" ,
                            method: :delete ,  data: { confirm: "Are you sure?"  }  ) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <!--總導覽-->
    <h1 class="text-center">
      百日任務總纜
    </h1>

    <br>

    <% blank = 0%>

    <% @categories.each do |category| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div style="margin:5px">
          <div class="container-fluid">
            <div class="row">
            <hr>
            <h4 class="text-center">
              <%= category.name %>
            </h4>
            <h6 class="text-center">
              <%= category.intro %>
            </h6>
            <br>
            <td>
              完成者：
              <% category.missions.each do |mission| %>
                <%= link_to(mission.user.username, account_user_path(mission.user)) %>
              <% end %>
            </td>

            <% blank = blank + 1 %>
            <% if blank % 2 == 0 %>
              <br>
              <br>
              <br>
              <br>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  <!--總導覽結束-->
  <% end %>

  <div class="text-center">
    <%= will_paginate @missions %>
  </div>

</div>
