<div class="col-md-12">

  <h2 class="text-center"> 已完成的任務 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> 標題 </th>
        <th> 留言數 </th>
        <th> 更新時間 </th>
      </tr>
    </thead>

    <tbody>
      <%  @missions.each do |mission|  %>
        <tr>
          <td> # </td>
          <td> <%= link_to(mission.title, mission_path(mission)) %> </td>
          <td> <%= mission.comments.count %> </td>
          <td> <%= mission.updated_at %> </td>
          <td>
            <% if current_user && current_user == mission.user %>
              <%=  link_to("Edit" ,  edit_mission_path(mission),  class: "btn btn-sm btn-default" ) %>
              <%=  link_to("Delete" ,  mission_path(mission),     class: "btn btn-sm btn-default" ,
                          method: :delete ,  data: { confirm: "Are you sure?"  }  ) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
